html,
body {
    width: 100%;
    min-width: 340px;
    height: 100%;
    overflow: hidden;
}

header,
main, 
footer {
    position: relative;
    z-index: 3;
    min-width: 340px;
}

main {
    position: relative;
    top: 50%;
    transform: translateY(calc(-50% - 120px));

    @include break-lg() {
        transform: translateY(-60%);
    }
}

footer {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    text-align: center;
}

// Background

.background {
    background-color: #1B5989;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    // .background__overlay
    &__overlay {
        width: 100%;
        height: 100%;
        background: radial-gradient(transparent, rgba(#000, 0.4));
        background-size: cover;
        background-position: center center;
    }
}

// Header
header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 16px 8px 0;

    @include break-lg() {
        position: absolute;
        padding: 0;
    }
}

.logo {
    width: 100px;
    height: 100px;
    padding-left: 26px;

    @include break-lg() {
        width: 150px;
    }
}

// Main
.content {
    text-align: center;
    padding: 0 16px;

    //.content__title
    &__title {
        font-family: 'Permanent Marker', cursive;
        font-size: 64px;
        color: #FFEEEE;
        text-shadow: -6px 0 14px #21d4fd, 0 5px 3px #000;
        margin: 0 0 24px;
        user-select: none;

        @include break-lg() {
            font-size: 12vh;
        }

        & span {
            animation: glow 4s linear 650ms infinite alternate;

            &:nth-child(2n+0) {            
                animation: glow 4.4s linear 1.35s infinite alternate;                
            }

            &:nth-child(3n+0) {            
                animation: glow 4.2s linear 950ms infinite alternate;                
            }
        }
    }

    //.content__subheading
    &__subheading {
        font-family: 'Permanent Marker', cursive;
        font-size: 48px;
        color: #FFEEEE;
        text-shadow: -6px 0 14px #21d4fd, 0 5px 3px #000;
        margin: 0 0 48px;
        user-select: none;

        @include break-lg() {
            font-size: 7vh;
        }

        & span {
            animation: blink 2s linear 650ms infinite alternate;

            &:nth-child(2n+0) {
                animation: blink 2.4s linear 1.35s infinite alternate;                
            }

            &:nth-child(3n+0) {
                animation: blink 2.2s linear 950ms infinite alternate;                
            }
        }
    }
}

@keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
}

@keyframes glow {
    33% {
        text-shadow: -6px 0 14px #137f97, 0 5px 3px #000;
    }

    66% {
        text-shadow: -6px 0 14px #79e5fd, 0 5px 3px #000;
    }
}

// Footer
.footer-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #FFEEEE;
    padding: 0 16px;

    & a {
        color: #21d4fd;
        pointer-events: auto;
        cursor: pointer;
    }
}

/* ---- signup form ---- */
.signup-form {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    z-index: 5;
    background: #FEFEFE;
    margin: 0 auto;
    padding: 26px 32px;
    max-width: 360px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);


    //.signup-form__title
    &__title {
        font-size: 24px;
        color: #424242;
        margin: 0 0 24px;
    }

    //.signup-form__field
    &__field {
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 16px;
    }

    //.signup-form__button
    &__button {
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus {
            background: #43A047;
        }
    }

    //.signup-form__passage
    &__passage {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 14px;

        a {
            color: #4CAF50;
            text-decoration: none;
            cursor: pointer;
        }
    }

    //.signup-form__icon
    &__icon {
        width: 100px;
    }
}


/* ---- particles.js container ---- */

#particles-js{
    position: absolute;
    width: 100%;
    min-width: 340px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}